/*css util para todo*/

/*Width*/
.w-50 {
    width: 50%;
}
.w-90 {
    width: 90%;
}
.w-100 {
    width: 100%;
}
  
/*Margin*/
.m-center {
    margin: 0 auto;
}
.m-8 {
    margin: 8px;
}
.m-4 {
    margin: 4px;
}

/*Margin left & right (x-axis)*/
.mx-4 {
    margin-left: 4px;
    margin-right: 4px;
}
.mx-8 {
    margin-left: 8px;
    margin-right: 8px;
}

/*Margin top*/
.mt-8 {
    margin-top: 8px;
}
.mt-16 {
    margin-top: 16px;
}
.mt-100{
    margin-top: 100px;
}
.mt-200{
    margin-top: 200px;
}
.mt-155{
    margin-top: 155px;
}

/*Margin bottom*/
.mb-0 {
    margin-bottom: 0;
}
.mb-8 {
    margin-bottom: 8px;
}
.mb-10{
    margin-bottom: 10px;
}

/*Margin right*/
.mr-8 {
    margin-right: 8px;
}

/* Border */
.b-15{
    border: 15px;
}
.b-1 {
    border-style: solid;
    border-width: 1px;
    color: #ebebeb;
}
.b-circle {
    border-radius: 50%;
}
.br-10 {
    border-radius: 10px;
}
.b-top-1 {
    border-top-width: 1px;
    border-top-style: solid;
}

.b-none {
    border: none;
}
.brl-5 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.brr-5 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Padding */
.p-8 {
    padding: 8px;
} 
.pl-8 {
    padding-left: 8px;
}
.p-4 {
    padding: 4px;
}
.pt-15{
    padding-top: 15px;
}

/* em */
.em-2{
    font-size: 2em;
}

/* Text */
.text-center {
    text-align: center;
}

.hide {
    display: none;
}

/* Flexbox */

.flex {
    display: flex;
}

.fx-wrap {
    flex-wrap: wrap;
}

.fx-align-center {
    align-items: center;
}

.fx-grow-100 {
    flex-grow: 1;
}

.fx-grow-70 {
    flex-grow: 0.7;  /*el % tiene que ocupar el 70%*/
}

.fx-grow-30 {
    flex-grow: 0.3;
}

.fx-space-between {
    justify-content: space-between;
}

.fx-space-left{
    justify-content: left;
}

.fx-center{
    justify-content: center;
}

/* Position */
.p-relative{
    position: relative;
}

/* Forms */
.form-field {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.form-field > .form-input {
    background-color: white;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 8px;
}

.form-field > .input-label {
    display: block;
    margin-bottom: 4px;
    width: 100%;
    font-weight: bold;
}
.form-field > .form-fullname {
    display: none;
}
.form-field > .input-with-button {
    display: flex;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    padding: 4px;
}
.form-field > .input-with-button > input {
    padding: 4px;
    flex-grow: 1;
    border: none;
    width: 100%;
}
.form-field > .input-with-button > .input-button {
    padding: 4px;
    border: none;
    margin: 1px;
    background-color: white;
}
.error-msg {
    display: block;
    padding-top: 4px;
    padding-left: 8px;
    color: red;
    width: 100%;
}
.button {
    padding: 4px;
    border-radius: 5px;
    border: none;
    margin-bottom: 24px;
}


/* Tablets */
@media (min-width: 576px){
    .tablet-hide {
      display: none;
    }

    .tablet-fx {
      display: flex;
    }

    .w-tablet-50 {
      width: 50%;
    }

    .w-tablet-70 {
      width: 70%;
    }

    .w-tablet-33 {
      width: 33%;
    }
}
  
/* Desktop */
  @media (min-width: 769px) {
    .w-desktop-25 {
      width: 25%;
    }

    .w-desktop-50 {
      width: 50%;
    }

    .w-desktop-70 {
      width: 70%;
    }

    .w-desktop-33 {
      width: 33%;
    }
}